{{>layout/header}}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"> 게시판 V2.1 </h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                    {{#name}}
                        <a href="/posts/save" class="btn btn-primary active" role="button">글 등록</a>
                    {{/name}}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="data123" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>게시글번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>최종수정일</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#posts}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                                    <td>{{author}}</td>
                                    <td>{{modifiedDate}}</td>
                                </tr>
                            {{/posts}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{{>layout/footer}}